:root, ::backdrop {
  --sl-content-width: 65rem;
}
& .hero>img {
  border-radius: 90px;
  -webkit-box-shadow: 0px 0px 125px 25px rgba(0, 255, 191, 1);
  -moz-box-shadow: 0px 0px 125px 25px rgba(0, 255, 191, 1);
  box-shadow: 0px 0px 125px 25px rgba(0, 255, 191, 1);
}

& .hero>div>div>h1 {
  font-size: 3rem;
}

& .hero>div>div>div{
  font-size: 1.4em;
  font-weight: bold;
}